{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>CAPN</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'contacts/hoja.css' %}"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="w3-panel">
        <div class="w3-center">
            <img src="{% static 'contacts/Eaton_Corporation_logo.svg' %}" alt="EATON" width="512" height="143">
        </div>
    </div>
    <div class="w3-panel">
        <div class="w3-center">
            <input type="text" id="part_number_search" placeholder="Search...">
        </div>
    </div>
    <div class="w3-panel w3-center">
        <a class="web-search w3-button w3-circle w3-yellow w3-hide"
            data-link="https://www.google.com/search?safe=active&q=eaton+" target="_blank">google</a>
        <a class="web-search w3-button w3-circle w3-red w3-hide"
            data-link="https://duckduckgo.com/?q=eaton+" target="_blank">duck</a>
        <a class="web-search w3-button w3-circle w3-blue w3-hide"
            data-link="https://www.bing.com/search?q=eaton+" target="_blank">bing</a>
        <a class="web-search w3-button w3-circle w3-purple w3-hide"
            data-link="https://search.yahoo.com/search?p=eaton+" target="_blank">yahoo</a>
    </div>
    <div class="w3-panel" id="part_number_results">
        <div class="w3-center">
            <div id="hojaya">
                <div class="hoja">CAPN</div>
            </div>
        </div>
    </div>

	{% block content %}{% endblock content %}
</body>

<script>

$( document ).ready(function() {

var part_number_div = document.getElementById("part_number_results");
var $in = $('#part_number_search')

function part_numberDisplay(json) {
    part_number_div.innerHTML = "";
    var $table = $('<table>')
        .prop("id","result_table")
        .data( "t", json.t )
        .addClass("w3-table-all")
        .addClass("w3-hoverable")
        .appendTo('#part_number_results');
    $table.append(
        $('<th>').text('Catalog Number'),
        $('<th>').text('Style Number'),
        $('<th>').html('<a class="w3-button w3-circle w3-black" href="{% url "contacts:product_mnt_create" %}">+</a>'),
        $('<th>').text('Support'),
        $('<th>').text('Phone'),
        $('<th>').text('Email'),
        $('<th>').html('<a class="w3-button w3-circle w3-black" href="{% url "contacts:contact_mnt_create" %}">+</a>')

    );
    $.each(json.result, function(i, item) {
        if (item.contact__link === "#" || item.contact__link === "") {
        var a = $('<a>');
        } else {
            var a = $('<a>', {href:item.contact__link,target:"_blank"});
        }
        a.text(item.contact__name);
        catalog_index = item.catalog_number.indexOf($in.val());console.log(catalog_index);
        if (catalog_index >= 0) {
            catalogHTML = item.catalog_number.substring(0,catalog_index) +
                '<span style="background-color:yellow">' +
                item.catalog_number.substring(catalog_index,catalog_index+$in.val().length) +
                "</span>" +
                item.catalog_number.substring(catalog_index + $in.val().length);
        } else {
            catalogHTML = item.catalog_number;
        }
        style_index = item.style_number.indexOf($('#part_number_search').val())
        if (style_index >= 0) {
            styleHTML = item.style_number.substring(0,style_index) +
                '<span style="background-color:yellow">' +
                item.style_number.substring(style_index,style_index+$in.val().length) +
                "</span>" +
                item.style_number.substring(style_index + $in.val().length);
        } else {
            styleHTML = item.style_number;
        }
        var $tr = $('<tr>').append(
            $('<td>').html(catalogHTML),
            $('<td>').html(styleHTML),
            $('<td>').html('<a class="w3-button w3-circle w3-black" href="{% url "contacts:product_mnt_create" %}?c='+item.catalog_number+'">&#x270E;</a>'),
            $('<td>').append(a),
            $('<td>').html(item.contact__phone),
            $('<td>').text(item.contact__email),
            $('<td>').html('<a class="w3-button w3-circle w3-black" href="{% url "contacts:contact_mnt_create" %}?c='+item.contact__name+'">&#x270E;</a>')
        ).appendTo($table);
    });
}

function part_numberQuery(element) {
    element.value = element.value.toUpperCase()
	if (element.value.length > 2) {
        $("a.web-search").each(function() {
            $this = $(this);
            $this.prop("href", $this.data("link") + element.value);
        });
        $("a.web-search").removeClass("w3-hide");
        $.get("{% url 'contacts:part_numberQuery' %}"+"?q="+element.value+"&t="+$.now(), function(data,status) {console.log($('#result_table').data("t"));
            $time_stamp = $('#result_table').data("t")
            if (data.t > $time_stamp || typeof $time_stamp === "undefined") {
                part_numberDisplay(data);
            }
        });
	} else {
	    $("a.web-search").addClass("w3-hide");
	    part_number_div.innerHTML = '<div id="hojaya"><div class="hoja">CAPN</div></div>';
	}
}

function addInputCallback(search_input, callback, delay) {
    var timer = null;
    search_input.onkeyup = function(e) {
        if (timer) {
            window.clearTimeout(timer);
        }
        timer = window.setTimeout( function() {
            timer = null;
            callback(e.target);
        }, delay );
    };
    search_input = null;
}

addInputCallback( document.getElementById("part_number_search"), part_numberQuery, 500 );

});
</script>
</html>
